<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
<div id="footer" th:fragment="footer">
            <div class="container-fluid text-center">
                <div class="row">
                    <p class="text-footer">Copyright &copy; 2018 by JPharmacy </p>
                    <p class="text-footer">All rights reserved!</p>
                </div>
            </div>
</div>

</body>
</html>